@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/LudoStyle.css" rel="stylesheet" type="text/css"/>
    <title>@ViewData["Title"]</title>
</head>
<body>
    @RenderBody()
</body>
</html>