@model Lemon_WebApp.Models.GameList

    @{
       Layout = "_MittLayout";
       ViewData["Title"] = "Join Game";
    }
    
<div class="listOfAllGameIdsContent">
    <link href="~/css/GameConfigurationStyle.css" rel="stylesheet" type="text/css" />
    <h1>Join a saved Game</h1>
    <a href="~/Views/Ludo/JoinGame.cshtml"></a>


    @if (Model.ListOfCreatedGames.Length != 0)
    {
        @for (int i = 0; i < Model.ListOfCreatedGames.Length; i++)
        {
            <form class="gameForm" method="post" action="@Url.Action("GameBoardSavedGame", "Ludo")">

                <input type="hidden" name="gameId" value="@Model.ListOfCreatedGames[i]" />

                <label id="listOfAllGames">@Model.ListOfCreatedGames[i]</label>

                <button class="buttonSmall" type="submit">Join game</button>
            </form>
        }
    }
    else
    {

        <h2 class="joinGamesAlternative">There are currently no saved games to join!</h2>
        <p>Press the button below to create a new game instead</p>
        <form action="@Url.Action("CreateGame", "Ludo")">
            <div>
                <input type="submit" value="Create a new game">
            </div>
        </form> <br><br>

    }

    <br><br>
    <img src="~/img/pic8.png" id="picture">

</div>