@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // Layout = "_MittLayout";
    ViewData["Title"] = "Min start sida";
}

<html>
<head>
    <title>LudoGameApple</title>
</head>
<link href="homePageDesign.css" rel="stylesheet" type="text/css">
<body>
    <center>
        <h1>
            WELCOME TO LUDO GAME<br>
            lemon group
        </h1>
    </center>
    <p>Write your username to log in</p>

    <center><img src="pic8.png" alt="p"></center>

    <form action="/index.html" id="userform">
        Username: <input type="text" name="usrname">
        <input type="submit">
    </form>

    </a>
</body>
</html>
