
@{
    // Layout = "_MittLayout";
    ViewData["Title"] = "Min start sida";
}

<html>
<head>
    <title>LudoGameApple</title>
    <link href="homePageDesign.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <center>
        <h1>
            WELCOME TO LUDO GAME<br>
            lemon group
        </h1>
    </center>
    <p>Write your username to log in</p>

    <input type="button" value="Go to GameBoard" onclick="location.href='@Url.Action("GetGameState", "Ludo")'" />   
    <center><img src="pic8.png" id="picture"></center>

    <form action="/index.html" id="userform">
        Username: <input type="text" name="usrname">
        <input type="submit">
    </form>
</body>
</html>
