
@{
    // Layout = "_MittLayout";
    ViewData["Title"] = "Welcome";
}

<html>
<head>
    <title>LudoGameApple</title>
    <link href="~/css/homePageDesign.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <center>
        <h1>
            WELCOME TO LUDO GAME<br>
            lemon group
        </h1>
    </center>
    <div>
        <p>
            Game description: you can play 2-4 players. Each player rolls the diece.<br>
            To start to move piece, a player must roll a 6 or 1. <br>
            If the player got some another diece value, the turn passes to the next player.<br>
        </p>
    </div>
    <p>Write your username to log in</p>

    <input type="button" value="Go to GameBoard" onclick="location.href='@Url.Action("GetGameState", "Ludo")'" />
    <center><img src="~/img/pic8.png" id="picture"></center>

    </div>
    <div><p>Select color:</p></div>
    <div>
        <select name="color">
            <option value="red">RED</option>
            <option value="yellow">YELLOW</option>
            <option value="blue">BLUE</option>
            <option value="green">GREEN</option>
        </select>

    </div>
    <form action="/index.html" id="userform">
        Username: <input type="text" name="usrname">
        <input type="submit">
    </form>
</body>
</html>
