
@{
    // Layout = "_MittLayout";
    ViewData["Title"] = "Welcome";
}

<html>
<head>
    <title>LudoGameApple</title>
    <link href="~/css/homePageDesign.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <center>
        <h1>
            WELCOME TO LUDO GAME<br>
            lemon group
        </h1>
    </center>
    <div>
        <p>
            Game description: you can play 2-4 players. Each player rolls the diece.<br>
            To start to move piece, a player must roll a 6 or 1. <br>
            If the player got some another diece value, the turn passes to the next player.<br>
        </p>
    </div>

    <center><img src="~/img/pic8.png" id="picture"></center>

    <br><br>

    <input type="button" value="NEW GAME2" onclick="location.href='@Url.Action("CreateGame", "Ludo")'" />
    <form action="https://ludowebapp-dev-as.azurewebsites.net/Ludo/GameConfiguration">
        <input type="submit" value="NEW GAME" />
    </form> <br><br>

    <button>LOAD SAVED GAME</button>





</body>
</html>