body {
    background-color: #6bb0dd;
    color: rgb(255, 255, 255);
    font-family: "Lucida Console";
    font-size: 22px;
}

.listOfAllGameIdsContent {
    text-align: center;
    position: center;
}

.addPlayerPageCenteredContent {
    text-align: center;
    position: center;
}

#addPlayerHeader {
    color: #fce158;
}
